{% extends "about_base2.html" %}

{% block about_type %}关于百雅轩{% endblock %}

{% block body %}
<div class="row customer-description customer-about-text-format clearfix">
    <div class="col-md-12 column clearfix">
        <h1>关于百雅轩</h1>
        <p>
            百雅轩是中国领先的艺术家推广机构和艺术版权、艺术品综合运营机构。致力于推广中国最有价值和最有潜力的艺术家的艺术，致力于艺术产业化创新实践，致力于建立面向世界的顶级艺术资源和艺术品整合运营平台。其核心业务涉及连锁画廊、艺术版权开发、版画产业基地、艺术授权、艺术品投资收藏、中外文化交流、高端文化产品等领域。目前在北京、上海拥有直属的派出机构和规模巨大的展示中心。2011年12月，百雅轩与国际领先的投资基金IDG资本达成战略合作，成为中国较早接受国际主流资本投资的文化艺术机构。</p>
        <p>
            百雅轩画廊是百雅轩文化艺术机构的龙头品牌。实行连锁化、品牌化、国际化战略。北京百雅轩798艺术中心是百雅轩连锁画廊中的旗舰画廊，是798艺术区里的代表机构，2012年被文化部评选为“诚信画廊”并授予奖牌，在展览策划、市场运作、媒体宣传、出版策划、学术交流、艺术档案管理等方面为艺术家提供全面的服务，成功组织策划了一系列具影响力的艺术展览。</p>
        <p>
            百雅轩版画院又称百雅轩国际版画制作出版基地，设立于2003年，是中国领先的专业版画和书画复制品制作出版机构，是百雅轩的核心优势之一。拥有一批来自全国高等美术院校的版画专业人才和专业配套的版画制作设备，为艺术家出版、制作高水准、专业化的丝网版画、铜版画、石版画、木板水印版画、综合版画、艺术微喷和珂罗版版画，实现了专业版画标准和国际艺术市场接轨的良性运营式。</p>
        <p>百雅轩推崇感动心灵的艺术创造，崇仰高雅艺术所担当之社会道义，推行艺术改变生活的理念，强调艺术之独立精神与品格。</p>
    </div>
</div>
{% endblock %}