{% extends "about_base2.html" %}

{% block title %}百雅轩-艺术家{% endblock %}

{% block type %}艺术{% endblock %}

{% block about_type %}艺术家{% endblock %}


{% block body %}
<div class="row customer-artist-container clearfix">
    {% for artist in artistlist %}
    <div class="col-md-6 column customer-artist-container-col">
        <a href="{{ url_for('main.artistlive', id=artist.id) }}"><img src="{{ url_for('static', filename='upload/' + artist.list_image) }}" alt="{{ artist.name }}" height="327" width="505"></a>
    </div>
    {% endfor %}
</div>
{% endblock %}