{% extends "about_base2.html" %}

{% block title %}百雅轩-艺术走进生活{% endblock %}

{% block type %}艺术{% endblock %}

{% block about_type %}艺术走进生活{% endblock %}

{% block body %}
<div class="row customer-artist-container clearfix">
    <div class="col-md-3 customer-artist-pic column">
        <img src="{{ url_for('static', filename='upload/' + artlive.Art.art_list_image) }}" alt="九月" width="180" height="162">
    </div>
    <div class="col-md-3 column" id="customer-artist-introduce">
        <h1>{{ artlive.Art.name }}</h1>
        <p class="customer-artist-introduce-p">{{ artlive.name }}</p>
        <p class="customer-artist-tip-p">
            {{ artlive.Art.introduction }}</p>
    </div>
</div>
<div class="row customer-artist-container clearfix">


    {% for each in life_images %}
    {% if loop.index is not divisibleby 2 %}
    <div class="col-md-6 column customer-artist-container-col customer-artist-first-col">
        <a href="{{ url_for('main.artshow', id=artlive.Art.id) }}"><img src="{{ url_for('static', filename='upload/' + each) }}" alt="盛和大厦办公室" height="510" width="510"></a>
    </div>
    {% else %}
    <div class="col-md-6 column customer-artist-container-col-sink" style="padding-top:0px">
        <a href="{{ url_for('main.artshow', id=artlive.Art.id) }}"><img src="{{ url_for('static', filename='upload/' + each) }}" alt="小胖西餐厅" height="510" width="510"></a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}