<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/fileinput.min.css') }}" media="all" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <style type="text/css">
        .update-container {
            width: 820px;
            margin: 10px;
        }
        .tab-pane {
            margin-top: 20px;
        }
        hr {
            border-top: 2px dotted #b4131f;
        }
        textarea {
          height: 100px;
          width: 500px;
        }
        .customer-update-input-border {
          border-radius: 4px;
        }
        #byx_update_art_artist {
          width: 150px;
        }
        .customer-update-art-pic {
          height: 42px;
          width: 42px;
        }
        .customer-update-art-pic-zoomin {
          height: 53px;
          width: 100px;
        }
        .customer-update-art-pic-slide {
          height: 30px;
          width: 51px;
        }






    </style>
</head>
<body>
<div class="update-container">
    <ul id="byx_index_pic_tab" class="nav nav-tabs">
        <li class="active">
            <a class="customer-letter-spacing" href="#add" data-toggle="tab">
                添加 | 作品图片
            </a>
        </li>
        <li><a class="customer-letter-spacing" href="#edit" data-toggle="tab">
            维护 | 作品图片
        </a></li>
    </ul>
    <div id="byx_index_pic_tab_content" class="tab-content">


        <div class="tab-pane fade in active" id="add">
            <form method="post" action="" enctype="multipart/form-data">

                {{ form.hidden_tag() }}

                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                <label class="control-label customer-letter-spacing">请选择艺术家</label>
                <div class="input-group-btn">
                    {{ form.artist_id(class="btn btn-default dropdown-toggle", id="byx_update_art_artist") }}
                </div>
                <br/>
                <label class="control-label">请选择作品类型</label>
                <div>
                    {% for subfield in form.type %}
                    <label class="checkbox-inline">
                        {{ subfield }}{{ subfield.label }}
                        {% if loop.index > 6 %}
                        <br/>
                        {% endif %}
                    </label>
                    {% endfor %}

                </div>
                <hr>
                <label class="control-label customer-letter-spacing">作品列表图片</label>
                {{ form.art_list_image(id='byx_art',class='file-loading') }}
                <hr>
                <label class="control-label customer-letter-spacing">作品放大图片</label>
                {{ form.art_enlarge_image(id='byx_art_zoomin',class='file-loading') }}
                <hr>
                <label class="control-label customer-letter-spacing">作品幻灯图片</label>
                {{ form.art_slide_image(id='byx_art_slide',class='file-loading', multiple="") }}
                <br/>


                <label class="control-label pull-right">
                    <input id="byx_slide_check" type="checkbox" class="text-right">增加首页轮播及走进生活图片
                </label><br/>
                <div class="customercss-slide-div clearfix">
                    <label class="control-label customer-letter-spacing">轮播图片</label>
                    {{ form.index_slider_image(id='byx_slider',class='file-loading') }}
                    <hr>
                    <label class="control-label customer-letter-spacing">走进生活</label>
                    {{ form.life_image(id='byx_slider_live',class='file-loading', multiple="") }}
                    <br/>
                </div>



                <label class="control-label customer-letter-spacing">作品介绍</label><br/>
                <label class="customer-letter-spacing">作品名称:
                    {{ form.name(id='byx_art_name',class='customer-update-input-border') }}
                </label><br/>
                <label class="customer-letter-spacing">作品副标:&nbsp;
                    {{ form.subtitle(id='byx_art_PY',class='customer-update-input-border') }}
                </label><span
                    class="customer-letter-spacing">用于水印副标题</span><br/>
                <label class="customer-letter-spacing text-top">作品简介:
                    {{ form.introdution(id='byx_art_note',class='customer-update-input-border') }}
                </label>
                <br/>
                {{ form.submit(id='byx_art_save',class='btn btn-default glyphicon glyphicon-floppy-disk pull-right') }}
            </form>
        </div>

        <div class="tab-pane fade" id="edit">
            <table class="table">
                <thead>
                <tr>
                    <th>艺术家</th>
                    <th>作品类型</th>
                    <th>作品列表图</th>
                    <th>作品放大图</th>
                    <th>作品幻灯图</th>
                    <th>作品简介</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>

                {% set type_list = {0: '珂罗版', 1: '丝网版', 2: '木版', 3: '铜版', 4: '石版', 5: '综合版', 6: '艺术微喷', 7: '艺术衍生品', 8:
                '艺术走进生活', 99: '其他'} %}

                {% for art in artlist %}
                <tr>
                    <td>
                        <span class="customer-letter-spacing">{{ art.name }}</span>
                    </td>
                    <td>
                        <span class="customer-letter-spacing">{{ type_list.get(art.Art.type) }}</span>
                    </td>
                    <td>
                        <img class="customer-update-art-pic"
                             src="{{ url_for('static', filename='upload/'+art.Art.art_list_image) }}" alt="九月走进生活">
                    </td>
                    <td>
                        <img class="customer-update-art-pic-zoomin"
                             src="{{ url_for('static', filename='upload/'+art.Art.art_enlarge_image) }}" alt="九月走进生活">
                    </td>
                    <td>
                        <img class="customer-update-art-pic-slide"
                             src="{{ url_for('static', filename='upload/'+art.Art.art_slide_image) }}" alt="九月走进生活">
                    </td>
                    <td>
                        <label class="customer-letter-spacing">作品名称:&nbsp;</label><span
                            class="customer-letter-spacing">{{ art.Art.name }}</span><br/>
                        <label class="customer-letter-spacing">作品副标:&nbsp;</label><span
                            class="customer-letter-spacing">{{ art.Art.subtitle }}</span><br/>
                        <label class="customer-letter-spacing">作品简介:&nbsp;</label><span
                            class="customer-letter-spacing">{{ art.Art.introduction }}</span><br/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$(document).on('ready', function() {
    $('.customercss-slide-div').hide();
    $("#byx_art,#byx_art_zoomin,#byx_art_slide,#byx_slider").fileinput({
        previewFileType: "image",
        browseClass: "btn btn-success",
        browseLabel: "Pick Image",
        browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
        removeClass: "btn btn-danger",
        removeLabel: "Delete",
        removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
        showUpload: false,
        initialCaption: "请选择图片……"
    });
    $("#byx_slider_live").fileinput({
        previewFileType: "image",
        browseClass: "btn btn-success",
        browseLabel: "Pick Image",
        browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
        removeClass: "btn btn-danger",
        removeLabel: "Delete",
        removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
        showUpload: false,
        maxFileCount: 10,
        initialCaption: "请选择图片，第一张作为首页轮播对应图片，所有将作为详情页轮播图片……"
    });

    $('#byx_slide_check').click(function(){
      if(this.checked){
        $('.customercss-slide-div').show();
      }else{
        $('.customercss-slide-div').hide();
      }
    });
});


</script>
</body>
</html>