{% extends "about_base.html" %}

{% block title %}百雅轩-展览资讯{% endblock %}

{% block type %}动态{% endblock %}

{% block about_type %}入驻宁波{% endblock %}

{% block body %}

<div class="row clearfix">
    <div class="col-md-12 column customer-exhibition">
        <div class="row clearfix">
            <div class="col-md-12 column customer-exhibition-title">   <!-- title show -->
                <h1>百雅轩入驻宁波暨‘独立风骨—吴冠中艺术展’展览讯息</h1>
                <p class="customer-text-center">2016-10-26 15:21:47　来源: 百雅轩</p>
                <p>
                    百雅轩是中国领先的艺术推广机构和艺术版权、艺术品综合运营机构。从2003年来一直致力于推广中国最有价值和最有潜力的艺术家的艺术，致力于艺术产业化创新实践，致力于建立面向全世界的顶级艺术资源和艺术品整合运营平台。2011年百雅轩与国际领先的投资资金IDG资本达成战略合作，成为中国较早接受国际主流资本投资的文化机构。</p>
            </div>
            <div class="col-md-12 column customer-exhibition-pic">   <!-- pic show -->
                <img src="{{ url_for('static', filename='images/exhibition/wgz_exhibition.png') }}">
                <p class="text-center">2000年4月，吴冠中先生在太湖湖畔写生</p>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column customer-exhibition-content">    <!--text description -->
                <h2>百雅轩与艺术家的合作</h2>
                <p>百雅轩成立以来陆续与吴冠中、罗尔纯、黄苗子、祝大年、袁运甫、张光宇、吴大羽、王怀庆、罗中立、尚扬、许江等三十多位国内一二线艺术家合作。</p>
                <p>
                    获得他们的艺术授权，并设立百雅轩版画院，制定了百雅轩版画出版流程，拥有高端的版画制作人才，制作出的版画精美，价格合理，作品艺术感强，获得观众们的收藏和极大的认可。百雅轩已建立以北京、上海为中心，辐射全国的连锁画廊的运营体系，在全国一二线城市拥有几十家代理商。</p>
                <p>
                    宁波地处华东地区的核心地带，人文积淀丰厚，文化历史悠久，是独特的江南水乡兼海港城市。宋元以来，就成为江南的文化重镇，天一阁、月湖等都成为文人墨客憩息荟萃之地。宁波近些年来经济发展迅猛，各产业结构稳固，人民生活水平稳步提升，对文化和艺术开始愈加关注和喜爱。</p>
                <p>
                    1981年，吴冠中先生在静雅、秀丽的宁波创作了那幅举世闻名的《双燕》，“双燕”鲜活地展现了中国文化的魅力和生命力，证实吴先生中西结合的道路是宽广而极富创造性的。在路旁的小河对岸出现了长长的一堵白墙，
                    在黑瓦的衬托下显得格外明净，门、窗、瓦顶与台阶在白色的空间中有伸有缩、高低错落、间隔得当，疏朗单纯又不失变化，在静静的河面上留下美丽的倒影。吴先生被这美震撼了。《双燕》太美了，它是吴冠中先生一生最优秀的作品之一，是千真万确中国江南的美。百雅轩作为吴冠中版权唯一授权机构，推广和宣传吴先生的艺术成为我们的重任，吴先生因《双燕》与宁波结缘，在百雅轩入驻宁波之时，我们特意举办吴冠中先生的艺术展，风筝不断线，与大众共享一场艺术的视觉盛宴。</p>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 customer-need-more column">
                <a class="customer-letter-spacing" href="#">加载更多</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}