{% extends "about_base.html" %}

{% block title %}百雅轩-展览资讯{% endblock %}

{% block type %}动态{% endblock %}

{% block about_type %}{{ news.title }}{% endblock %}

{% block body %}

<div class="row clearfix">
    <div class="col-md-12 column customer-exhibition">
        <div class="row clearfix">
            <div class="col-md-12 column customer-exhibition-title">   <!-- title show -->
                <h1>{{ news.title }}</h1>
                <p class="customer-text-center">{{ news.created }}　来源: {{ news.source }}</p>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column customer-exhibition-content">    <!--text description -->
                    {{ news.content | safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}