<div class="row customer-footer-height customer-footer-padding customer-about-margin-top clearfix">
    <div class="col-md-8 column customer-footer-div-left clearfix">
        <table class="table">
            <tr>
                <td><h5 class="customer-letter-spacing">联系与合作</h5></td>
            </tr>
            <tr>
                <td>联 系 我 们：</td>
            </tr>
            <tr>
                <td>建 议 反 馈：<strong><a class="customer-email" href="mailto:admin@baiyaxuan.com?subject=意见与建议">admin@baiyaxuan.com</a></strong>
                </td>
            </tr>
            <tr>
                <td>合 作 热 线：<strong>010-57626236</strong></td>
            </tr>
            <tr>
                <td><strong class="customer-letter-spacing">北京百雅轩文化传播有限公司 版权所有 京ICP备14004157号</strong></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4 column customer-footer-div-right">
        <table class="table">
            <tr>
                <td><h5 class="customer-letter-spacing">关注我们</h5></td>
            </tr>
            <tr>
                <td>新 浪 微 博：</td>
            </tr>
            <tr>
                <td>淘宝官方拍场：</td>
            </tr>
            <tr>
                <td>官 方 Q Q：</td>
            </tr>
            <tr>
                <td>官 方 微 信：</td>
            </tr>
        </table>
    </div>
</div>