<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/fileinput.min.css') }}" media="all" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <style type="text/css">
        .update-container {
            width: 820px;
            margin: 10px;
        }
        .tab-pane {
            margin-top: 20px;
        }
        hr {
            border-top: 2px dotted #b4131f;
        }
        h4,p {
          margin: 3px;
        }
        p {
          text-indent: 2em;
        }
        .customer-update-art-pic {
            height: 53px;
            width: 100px;
        }
        .customer-update-input-border {
          border-radius: 4px;
        }
        #byx_price_btn_filter {
          margin-left: 90px;
        }

    </style>
</head>
<body>
<div class="update-container">
    <ul id="byx_index_pic_tab" class="nav nav-tabs">
        <li class="active">
            <a class="customer-letter-spacing" href="#add" data-toggle="tab">
                添加 | 作品售价
            </a>
        </li>
        <li><a class="customer-letter-spacing" href="#edit" data-toggle="tab">
            维护 | 作品售价
        </a></li>
    </ul>
    <div id="byx_index_pic_tab_content" class="tab-content">
        <div class="tab-pane fade in active" id="add">
            <form method="post" action="" enctype="multipart/form-data">

                {{ form.hidden_tag() }}

                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}

                <label class="control-label customer-letter-spacing">作品筛选</label>
                <div> <!--筛选条件-->
                    <label class="control-label customer-letter-spacing">艺术家&nbsp;</label>
                    {{ form.artist_id(class="btn btn-default dropdown-toggle", id="byx_update_art_artist") }}
                    <!--<input class="customer-update-input-border" type="text" id="byx_update_artist_filter">-->
                    <br/><br/>
                    <label class="control-label">请选择作品类型</label>
                    <div id="tyype">
                        {% for subfield in form.type %}
                        <label class="checkbox-inline">
                            {{ subfield }}{{ subfield.label }}
                            {% if loop.index > 6 %}
                            <br/>
                            {% endif %}
                        </label>
                        {% endfor %}
                    </div>
                    <br/>
                    <label class="control-label customer-letter-spacing">作品名称&nbsp;</label>
                    {{ form.art_name(class="customer-update-input-border", id="byx_update_art_filter") }}
                    <button class="btn btn-default glyphicon glyphicon-filter" type="button" id="byx_price_btn_filter">
                        点击筛选
                    </button>
                </div>
                <hr>  <!--筛选结果-->
                <div class="row clearfix result">
                    {% for subfiled in form.art_id %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="/static/images/art/wgz_xshy.png" alt="缩略图">
                            <div class="caption">
                                {% set a = subfiled.label %}
                                <h4>{{ a[0] }}</h4>
                                <p>{{ subfiled.label }}</p>
                                <p>{{ a[1] }}</p>
                                <p>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="byx_art_select">选取
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="clearfix"></div>
                <hr>
                <label class="control-label customer-letter-spacing">作品售价信息</label><br/>
                <label clas="control-label customer-letter-spacing">售卖日期：
                    <!--<input class="customer-update-input-border" type="date">-->
                    {{ form.sale_time(class="customer-update-input-border", type="date") }}
                </label>
                <br/>
                <label clas="control-label customer-letter-spacing">售卖单价：
                    <!--<input class="customer-update-input-border" type="text">-->
                    {{ form.price(class="customer-update-input-border") }}
                </label>
                <!--<button class="btn btn-default glyphicon glyphicon-floppy-disk pull-right" type="button"-->
                <!--id="byx_price_save">点击保存-->
                <!--</button>-->
                {{ form.submit(id='byx_price_save',class='btn btn-default glyphicon glyphicon-floppy-disk pull-right')
                }}
            </form>
        </div>
        <div class="tab-pane fade" id="edit">
            <table class="table">
                <thead>
                <tr>
                    <th>作品名称</th>
                    <th>类别</th>
                    <th>艺术家</th>
                    <th>缩略图</th>
                    <th>日期</th>
                    <th>售价</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span class="customer-letter-spacing">洪荒</span>
                    </td>
                    <td>
                        <span class="customer-letter-spacing">珂罗版</span>
                    </td>
                    <td>
                        <span class="customer-letter-spacing">吴冠中</span>
                    </td>
                    <td>
                        <img class="customer-update-art-pic"
                             src="{{ url_for('static', filename='images/art/wgz_hh.png') }}" alt="作品">
                    </td>
                    <td>
                        <span class="customer-letter-spacing">2016-12-5</span>
                    </td>
                    <td>
                        <span class="customer-letter-spacing">36,000.00元</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#byx_price_btn_filter").click(function() {
        $.ajax({
            type: "GET",
            url: "{{ url_for('main.price_search') }}",
            data: {
                'art_name': $('#byx_update_art_filter').val(),
                'artist_id': $('#byx_update_art_artist option:selected').val(),
                'type': $('#tyype input:checked').val(),
            },
            success: function(data) {
                if (data.status) {
                    $('.result').html(data.message);
                } else {
                    $('.result').empty();
                    alert(data.message);
                }
            },
            error: function(data) {
                alert(data.message);
            },
        });
    });
});

</script>

</body>
</html>