<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/fileinput.min.css') }}" media="all" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <style type="text/css">
        .update-container {
            width: 820px;
            margin: 10px;
        }
        .tab-pane {
            margin-top: 20px;
        }
        hr {
            border-top: 2px dotted #b4131f;
        }
        h4,p {
          margin: 3px;
        }
        p {
          text-indent: 2em;
        }
        .customer-update-art-pic {
            height: 53px;
            width: 100px;
        }
        .customer-update-input-border {
          border-radius: 4px;
        }
        #byx_price_btn_filter {
          margin-left: 90px;
        }



    </style>
</head>
<body>
<div class="update-container">
    <ul id="byx_index_pic_tab" class="nav nav-tabs">
        <li class="active">
            <a class="customer-letter-spacing" href="#add" data-toggle="tab">
                添加 | 作品售价
            </a>
        </li>
        <li><a class="customer-letter-spacing" href="#edit" data-toggle="tab">
            维护 | 作品售价
        </a></li>
    </ul>
    <div id="byx_index_pic_tab_content" class="tab-content">
        <div class="tab-pane fade in active" id="add">
            <form method="post" action="" enctype="multipart/form-data">

                {{ form.hidden_tag() }}

                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}

                <label class="control-label customer-letter-spacing">作品筛选</label>
                <div> <!--筛选条件-->
                    <label class="control-label customer-letter-spacing">艺术家&nbsp;</label>
                    <select class="btn btn-default dropdown-toggle" id="byx_update_art_artist" name="artist_id">
                        {% for each in artist_list %}
                        <option value="{{ each.id }}">{{ each.name }}</option>
                        {% endfor %}
                    </select>
                    <br/><br/>
                    <label class="control-label">请选择作品类型</label>
                    <div id="tyype">

                        <label class="checkbox-inline">
                            <input id="type-0" name="type" type="radio" value="0"><label for="type-0">珂罗版</label>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-1" name="type" type="radio" value="1"><label for="type-1">丝网版</label>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-2" name="type" type="radio" value="2"><label for="type-2">木版</label>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-3" name="type" type="radio" value="3"><label for="type-3">铜版</label>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-4" name="type" type="radio" value="4"><label for="type-4">石版</label>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-5" name="type" type="radio" value="5"><label for="type-5">综合版</label>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-6" name="type" type="radio" value="6"><label for="type-6">艺术微喷</label>

                            <br/>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-7" name="type" type="radio" value="7"><label for="type-7">艺术衍生品</label>

                            <br/>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-8" name="type" type="radio" value="8"><label for="type-8">艺术走进生活</label>

                            <br/>

                        </label>

                        <label class="checkbox-inline">
                            <input id="type-9" name="type" type="radio" value="99"><label for="type-9">其他</label>

                            <br/>

                        </label>

                    </div>
                    <br/>
                    <label class="control-label customer-letter-spacing">作品名称&nbsp;</label>
                    <input class="customer-update-input-border" id="byx_update_art_filter" name="art_name" type="text" value="">
                    <button class="btn btn-default glyphicon glyphicon-filter" type="button" id="byx_price_btn_filter">
                        点击筛选
                    </button>
                </div>
                <hr>  <!--筛选结果-->
                <div class="row clearfix result">
                    {% for subfiled in form.art_id %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            {% set label = subfiled.label.text.split('-') %}
                            <img src="{{ url_for('static', filename='upload/' + label[3]) }}" alt="缩略图">
                            <div class="caption">

                                <h4>{{ label[0] }}</h4>
                                <p>{{ label[1] }}</p>
                                <p>{{ label[2] }}</p>
                                <p>
                                    <label class="checkbox-inline">
                                        {{ subfiled }}
                                        选取
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="clearfix"></div>
                <hr>
                <label class="control-label customer-letter-spacing">作品售价信息</label><br/>
                <label clas="control-label customer-letter-spacing">售卖日期：
                    {{ form.sale_time(class="customer-update-input-border", type="date") }}
                </label>
                <br/>
                <label clas="control-label customer-letter-spacing">售卖单价：
                    {{ form.price(class="customer-update-input-border") }}
                </label>

                {{ form.submit(id='byx_price_save',class='btn btn-default glyphicon glyphicon-floppy-disk pull-right')
                }}
            </form>
        </div>
        <div class="tab-pane fade" id="edit">
            <table class="table">
                <thead>
                <tr>
                    <th>作品名称</th>
                    <th>类别</th>
                    <th>艺术家</th>
                    <th>缩略图</th>
                    <th>日期</th>
                    <th>售价</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>


                {% for each in price_list %}
                <tr>
                    <td>
                        <span class="customer-letter-spacing">{{ each.art_name }}</span>
                    </td>
                    <td>
                        <span class="customer-letter-spacing">{{ ART_TYPE_LIST.get(each.type)}}</span>
                    </td>
                    <td>
                        <span class="customer-letter-spacing">{{ each.artist_name }}</span>
                    </td>
                    <td>
                        <img class="customer-update-art-pic"
                             src="{{ url_for('static', filename='upload/' + each.art_list_image) }}" alt="作品">
                    </td>
                    <td>
                        <span class="customer-letter-spacing">{{  each.Price.sale_time }}</span>
                    </td>
                    <td>
                        <span class="customer-letter-spacing">{{ each.Price.art_price }}元</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" onclick="if (confirm('确定要删除此价格吗？')) { location.href = '{{ url_for('main.delete_price', id=each.Price.id) }}'; }">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#byx_price_btn_filter").click(function(){
			var arts_name = $('#byx_update_art_filter').val();
			var type_id = $('#tyype input:checked').val() || -1;
			var artists_id = $('#byx_update_art_artist option:selected').val();

			var search_url = "{{ url_for('main.priceupdate') }}" + "?arts_name=" + arts_name + '&type_id=' + type_id + '&artists_id=' + artists_id
			// var search_url = "{{ url_for('main.priceupdate') }}" + "?artists_id=" + artists_id
			window.location.href= search_url;
	})
})

</script>

</body>
</html>